@import 'src/assets/styles/helpers';

.form-item {
  width: 372px;
  @include flex-column;
  gap: 10px;
  &__text {
    @include font(label);
  }
}

.form-input {
  box-shadow: none;
  border-radius: $border-radius;
  border: 1px solid $line;
  background: $primary-3;
  min-height: 38px;
  color: $primary-8;
  padding: 8.5px 15px;
  resize: none;
  @include font(label);
  @include transition;
  &:focus {
    box-shadow: 0 0 0 2px rgba($secondary-1, .3);
    border-color: $secondary-1;
  }
  &--error {
    border-color: $accent-1;
  }
  &__error {
    @include font(code);
    color: $accent-1;
  }
}
