@import 'src/assets/styles/helpers';

.contact {
  max-height: inherit;
  height: inherit;
  @include flex;
  scrollbar-width: thin;
  ::-webkit-scrollbar {
    height: 0; /* height of horizontal scrollbar ← You're missing this */
    width: 10px; /* width of vertical scrollbar */
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: $secondary-1;
  }
  &__content {
    flex: 1;
  }
  &__container {
    @include flex;
    height: calc(100% - 41px);
  }
  &__left, &__right {
    width: 50%;
    @include flex-center-horiz;
    padding-top: 10vh;
    overflow-y: scroll;
  }
  &__left {
    border-right: 1px solid $line;
  }
}

.contact-drawer {
  max-height: inherit;
  &__content {
    @include flex-column;
    gap: 10px;
    a {
      @include flex-center-vert;
      @include transition;
      .icon {
        margin-right: 10px;
      }
      &:hover {
        color: $secondary-4;
      }
    }
  }
}

.contact-form {
  @include flex-column;
  align-items: flex-start;
  gap: 24px;
  width: 372px;
}

.contact-sent {
  max-width: 380px;
  text-align: center;
  @include flex-center-column;
  transform: translateY(-10vh);
  &__title {
    @include font(title);
  }
  &__text {
    margin-top: 10px;
  }
  &__button {
    margin-top: 35px;
  }
}


