@import 'src/assets/styles/helpers';

#food {
  display: none;
}

.game-button {
  &--hidden {
    opacity: 0;
    z-index: -1;
  }
}

.game-over {
  position: absolute;
  bottom: 55px;
  left: 0;
  width: 100%;
  @include flex-center-column;
  p {
    width: 100%;
    border-radius: $border-radius;
    background: rgba($primary-2, .84);
    box-shadow: 1px 5px 11px 0 rgba($primary-6, .71) inset;
    padding: 12px 0;
    text-align: center;
    @include font(title);
    text-transform: uppercase;
    color: $accent-2;
    margin-bottom: 20px;
  }
}
