@font-face {
    font-family: 'FiraCodeRetina';
    src:url('../fonts/FiraCodeRetina/Fira-Code-Retina.ttf.woff') format('woff'),
        url('../fonts/FiraCodeRetina/Fira-Code-Retina.ttf.svg#Fira-Code-Retina') format('svg'),
        url('../fonts/FiraCodeRetina/Fira-Code-Retina.ttf.eot'),
        url('../fonts/FiraCodeRetina/Fira-Code-Retina.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
