name: ESLint Check

on:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14' # Замените на желаемую версию Node.js

    - name: Install dependencies
      run: npm install

    - name: Run ESLint
      run: npx eslint src

    - name: Check for ESLint errors
      run: |
        eslint_exit_code=$?
        if [ $eslint_exit_code -eq 0 ]; then
          echo "ESLint check passed"
        else
          echo "ESLint check failed"
          exit 1
        fi
